.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 22px 14px 14px;
  height: 68px;
  background: #f0f2f4;
}
.menu-vertical {
  width: 32px;
  height: 32px;
  margin-bottom: 14px;
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
