li {
  list-style: none;
}

.about-wrapper {
  background-color: black;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
}
.about-wrapper h5 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 350;
  margin-top: 5px;
}
img {
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}
.about-bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 25px 0 25px;
  text-align: left;
  margin-bottom: 0;
}
.about-bio h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 20px;
}
.about-bio p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.about-skills-and-languages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 25px 25px 25px;
  text-align: left;
}
.about-skills-and-languages h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.about-skills-and-languages ul {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  padding-left: 0;
}
.about-button-group {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 20px;
  padding: 0;
}
#about-button-group-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 14px 18px;
  width: fit-content;
  margin: 10px;
  gap: 14px;
  background-color: #f0f2f4;
  color: #000000;
  border: none;
}
#about-button-group-linkedIn-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 18px;
  width: fit-content;
  margin: 10px;
  gap: 14px;
  background-color: #cfff69;
  color: #000000;
  border: none;
}
.bio-button-group {
  display: none;
}
#contact-dropdown-social-logos {
  height: 32px;
  width: 32px;
}
#about-button-group-buttons h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 4px;

  color: #000000;
}
#about-button-group-linkedIn-button h6 {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 4px;
  color: #000000;
}
#about-button-dropdown-arrows {
  width: 21px;
  height: 27px;
  font-weight: 500;
  font-size: 22px;
  margin-top: 1px;
}
@media only screen and (min-width: 660px) {
  .about-wrapper {
    display: none;
  }
  .about-main {
    justify-content: center;
   
  }
  .about-bio-and-picture {
    display: grid;
    width: 100vw;
    
    align-content: center;
    padding: 60px;

  }
  #about-button-grou-sm-breakpoint {
    display: none;
  }
  #about-bio-buttons {
    display: contents;
  }
  .pic-o-bob {
    width: 45vw;
    max-width: 500px;
    grid-row: 1/2;
  }
  div.about-bio {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
  }
  .about-skills-and-languages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    background: #000000;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    color: #b8b8b8;
  }
  .about-skills-and-languages-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 10px 0px;
    min-height: 80%;
  }
  .languages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 60px;
  }
  .languages-ul {
    padding-left: 0;
  }
  .tools {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 60px;
  }
  .tools-ul {
    text-align: left;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    overflow: clip;
  }
  .tools li {
    margin-right: 100px;
  }
  .tools-ul2 {
    margin-top: -15px;
  }
}
@media only screen and (min-width: 848px) {
  .bio-button-group {
    display: flex;
    flex-direction: column;
  }
  .bio-button {
    height: 60px;
    align-content: baseline;
  }
  #about-button-group-linkedIn-button {
    align-items: center;
  }
  .tools {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 24px 1fr;
    overflow: hidden;
  }
  .tools-ul {
    grid-row: 2/3;
    margin-top: 5px;
  }
  .tools-ul2 {
    grid-row: 2/3;
    margin-top: 5px;
  }
}
